# 编译输出目录
build/
Build/
ouput/
output/

# CMake 生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
cmake-build-*/

# 编译产物
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.axf
*.lst
*.d
*.su

# IDE 配置
.vscode/
.idea/
*.swp
*.user
*.suo

# 系统文件
Thumbs.db
.DS_Store
